<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663823776199-653u1oq1ahsn7fhks8mf6o5l9u79b7a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663823776199-653u1oq1ahsn7fhks8mf6o5l9u79b7a8</string>
	<key>API_KEY</key>
	<string>AIzaSyA-UDaYO8BYh6rbC4uA_ogyP0zp8GCqkII</string>
	<key>GCM_SENDER_ID</key>
	<string>663823776199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srmth.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>dynadata-21411</string>
	<key>STORAGE_BUCKET</key>
	<string>dynadata-21411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663823776199:ios:7445727a1b688b9f</string>
	<key>DATABASE_URL</key>
	<string>https://dynadata-21411.firebaseio.com</string>
</dict>
</plist>